.form-control {
    display: inline-block;
    width: 50% !important;
}
.container-fluid {
    width: 80% !important;
}

.card-img {
    border-radius: calc(.25rem - 1px);
}

.container {
    height: 100% !important;
  }